bin/
bin/*
obj/
src/.DS_Store
aubiocut
aubiocut.bak
Makefile
videoKeyboard.xcodeproj/project.pbxproj
videoKeyboard.xcodeproj/project.xcworkspace/contents.xcworkspacedata
Project.xcconfig
openFrameworks-Info.plist
config.make
config.make
Makefile
config.make
addons.make
.DS_Store
videoKeyboard.xcodeproj/xcuserdata/sorenkjaergaard.xcuserdatad/xcschemes/xcschememanagement.plist
videoKeyboard.xcodeproj/xcuserdata/sorenkjaergaard.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
videoKeyboard.xcodeproj/xcshareddata/xcschemes/videoKeyboard Release.xcscheme
videoKeyboard.xcodeproj/xcshareddata/xcschemes/videoKeyboard Debug.xcscheme
videoKeyboard.xcodeproj/project.xcworkspace/xcuserdata/sorenkjaergaard.xcuserdatad/UserInterfaceState.xcuserstate
Makefile
config.make
.DS_Store
addons.make
bin/defaultConf.json
config.make
Makefile
videoKeyboard2.xcodeproj/project.pbxproj
videoKeyboard2.xcodeproj/project.xcworkspace/contents.xcworkspacedata
videoKeyboard2.xcodeproj/project.xcworkspace/xcuserdata/sorenkjaergaard.xcuserdatad/UserInterfaceState.xcuserstate
videoKeyboard2.xcodeproj/xcshareddata/xcschemes/videoKeyboard2 Debug.xcscheme
*.xcscheme
videoKeyboard2.xcodeproj/xcuserdata/sorenkjaergaard.xcuserdatad/xcschemes/xcschememanagement.plist
Makefile
Makefile
*.make
.DS_Store
.DS_Store
addons.make
*.make
Makefile
midi_mappings.json
*.DS_Store*
.DS_Store
videoKeyboard2.xcodeproj/xcuserdata/gnlcelia.xcuserdatad/xcschemes/xcschememanagement.plist
videoKeyboard2.xcodeproj/project.xcworkspace/xcuserdata/gnlcelia.xcuserdatad/UserInterfaceState.xcuserstate
videoKeyboard.xcodeproj/xcuserdata/gnlcelia.xcuserdatad/xcschemes/xcschememanagement.plist
videoKeyboard.xcodeproj/xcuserdata/gnlcelia.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
videoKeyboard.xcodeproj/project.xcworkspace/xcuserdata/gnlcelia.xcuserdatad/UserInterfaceState.xcuserstate
videoKeyboard.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
videoKeyboard2.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
videoKeyboardText.xcodeproj/project.pbxproj
videoKeyboardText.xcodeproj/project.xcworkspace/contents.xcworkspacedata
videoKeyboardText.xcodeproj/project.xcworkspace/xcuserdata/sorenkjaergaard.xcuserdatad/UserInterfaceState.xcuserstate
videoKeyboardText.xcodeproj/xcuserdata/sorenkjaergaard.xcuserdatad/xcschemes/xcschememanagement.plist
videoKeyboardText.xcodeproj/xcuserdata/sorenkjaergaard.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
.DS_Store
bin
bin/defaultConf.json
bin/defaultConf.json
